@charset "utf-8";

/* Tipo de letra de Inicio */
.eras1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #333;
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	letter-spacing: 0px;
	line-height: normal;
	font-size: 14px;

/* Titulos de noticias del calendario */
}.noti1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #212121;
	letter-spacing: normal;
	word-spacing: normal;
	
/* Titulos de noticias principales */
}
.titulos1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande";

/* Texto de las noticias */
}
.noticias2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande";

/* Titulo de publicaciones anteriores */
}
.public1 {
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #661A00;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;

/* Titulo del area (IDIOMAS) */
}
.public2 {
	font-size: 11px;
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #B22C00;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;

/* Texto de la fecha */
}
.public3 {
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #545454;
	letter-spacing: normal;
	word-spacing: normal;
	white-space: normal;
}
.public4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-size: 12px;
	color: #000;
	text-align: left;
	line-height: 14px;
	font-weight: normal;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-style: normal;
	border-top-color: #333;
}
.videos {
	color: #930;
	font-size: 13px;
}
.mision {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #006EB7;
}
.emails {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #333;
	line-height: 20px;
}
.not_peq {
	font-family: "Eras Medium ITC";
	font-size: 12px;
	color: #300;
	text-align: left;
}
.notidates1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	color: #212121;
	font-size: 14px;
	font-style: normal;
	text-align: left;
	font-weight: bold;
}
.notidates2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	color: #212121;
	font-size: 11px;
	font-style: normal;
	text-align: left;
}
.notidates3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	color: #300;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	font-weight: bold;
}
.leer {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-size: 11px;
	font-weight: bold;
	color: #03C;
	text-align: right;
}
.font_slider {
	font-family: "Lucida Sans Unicode", "Lucida Grande";
	font-size: 14px;
	color: #FFF;
	text-align: center;
	position: relative;
}
