@charset "utf-8";
.titulo {
	font-weight: bold;
	font-family: Candara;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-decoration: underline;
	}
.nombres {
	font-family: Candara;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
}	
.subtitulos {
	text-align: center;
	font-size: 14px;
	color: #FFF;
	font-family: Candara;
	font-weight: bold;
	background-color: #262626;
	word-spacing: normal;
	letter-spacing: normal;
}
.subtitulos2 {
	font-family: Candara;
	font-size: 12px;
	font-weight: bold;
}
.subtitulos3 {
	font-family: Candara;
	text-align: center;
	font-size: 14px;
	color: #000;
}
.asignaturas {
	font-family: Candara;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.materias {
	font-family: Candara;
	font-size: 13px;
	font-weight: bold;
}
.numeros {
	font-family: Calibri;
	font-size: 13px;
	font-style: normal;
	text-align: center;
}
.porcentaje {
	color: #000;
	font-family: Calibri;
	font-size: 13px;
	font-weight: bold;
}
.equivalencia {
	font-family: Candara;
	font-size: 14px;
	font-style: italic;
}
.quimestres {
	font-family: Candara;
}
.equivalencia2 {
	font-weight: bold;
	font-family: Candara;
	text-align: center;
	font-size: 16px;
}
.letras {
	font-family: Candara;
	font-size: 12px;
}
.promedio1 {
	font-weight: bold;
	text-align: center;
	font-family: Calibri;
	font-size: 14px;
}
.tabla {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: rgb(0,0,0);
	border-right-color: rgb(0,0,0);
	border-bottom-color: rgb(0,0,0);
	border-left-color: rgb(0,0,0);
}
.td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(0,0,0);
	border-right-color: rgb(0,0,0);
	border-bottom-color: rgb(0,0,0);
	border-left-color: rgb(0,0,0);
}