@charset "utf-8";

/* Tipo de letra de Inicio */
.eras1 {
	font-family: "Trebuchet MS", Candara;
	font-size: 14px;
	color: #333;
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;

/* Titulos de noticias del calendario */
}.noti1 {
	font-family: "Trebuchet MS", Candara;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #212121;
	letter-spacing: normal;
	word-spacing: normal;
	
/* Titulos de noticias principales */
}
.titulos1 {
	font-family: "Trebuchet MS", Candara;

/* Texto de las noticias */
}
.noticias2 {
	font-family: "Trebuchet MS", Candara;

/* Titulo de publicaciones anteriores */
}
.public1 {
	font-size: 12px;
	font-family: "Trebuchet MS", Candara;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #661A00;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;

/* Titulo del area (IDIOMAS) */
}
.public2 {
	font-size: 11px;
	font-family: "Trebuchet MS", Candara;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #B22C00;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;

/* Texto de la fecha */
}
.public3 {
	font-size: 12px;
	font-family: "Trebuchet MS", Candara;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #545454;
	letter-spacing: normal;
	word-spacing: normal;
	white-space: normal;
}
.videos {
	color: #930;
	font-size: 13px;
}
.mision {
	font-family: "Trebuchet MS", Candara;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #006EB7;
}
.comunicados1 {
	text-align: right;
	font-family: Candara;
	font-size: 13px;
	color: #333;
	font-weight: bold;
}
.comunicados2 {
	font-family: Candara;
	font-size: 14px;
	color: #333;
	text-align: justify;
}
.comunicados3 {
	font-family: Candara;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	color: #000;
}
.materias td {
	text-align: center;
}
.disciplina {
	font-family: Candara;
	font-size: 13px;
	font-weight: bold;
}
.nuemeros2 {
	font-family: Calibri;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}
.info {
	font-size: 13px;
	font-family: Candara;
	font-style: normal;
	font-weight: normal;
	color: #000;
	text-align: justify;
}
.texto1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
}
.texto2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	color: rgb(51,51,51);
}
.texto3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	color: rgb(0,51,102);
}
.texto4 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: rgb(0,51,102);
	line-height: 20px;
}
.tit1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 13px;
	color: rgb(102,0,0);
	font-weight: bold;
}
.users {
	font-family: Candara;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	font-weight: bold;
}